p{
    color: white;
    background: tomato;
    font-size: 100px;
    font-style: italic;
}

body{
    background-color: lightblue !important;
    padding: 5%;
    height: 100%;
}

h1 {
    border-style: dotted;
    border-width: thick;
}

#answer-container {
    margin: auto;
    width: 50%;
}

.box{
    width: 100px;
    height: 100px;
    background: plum;
    margin: 5%;
    padding: 10px;
    border: 2px solid black;
    float: left;
    border-width: 6px 5px;
    border-radius: 100px;
    text-align: justify;
}